
{box-sizing: border-box;}
/* Nút Để Mở Chatbox */
.nut-mo-chatbox {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}
/* Ẩn chatbox mặc định */
.Chatbox {

    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
/* Thêm style cho form */
.form-container {

    max-width: 170%;
    padding: 10px;
    background-color: white;

}

/* thiết lập style textarea */
.form-container #chat {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 100px;
}
/*thiết lập style cho textarea khi được focus */
.form-container #chat:focus {
    background-color: #ddd;
    outline: none;
}


/*custom admin chat*/
#appendChat .adminChat {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #7acef1;
    resize: none;
    min-height: 20px;
}
/*thiết lập style cho textarea khi được focus */
#appendChat .adminChat :focus {
    background-color: #ddd;
    outline: none;
}

/*custom client chat*/
#appendChat .clientChat {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1eb27;
    resize: none;
    min-height: 10px;
}
#appendChat .clientChat :focus {
    background-color: #ddd;
    outline: none;
}
#appendChat{
    overflow-y: scroll; height:200px;
}







/* Thiết lập style cho nút trong form*/
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}/* Thiết lập màu nền cho nút đóng chatbox */
.form-container .nut-dong-chatbox {
    background-color: red;
}
/* Thêm hiệu ứng hover cho nút*/
.form-container .btn:hover, .nut-mo-chatbox:hover {
    opacity: 1;
}
